.title {
  font-size: 38px;
  color: #333333;
  line-height: 1;
}
.subTitle {
  font-size: 38px;
  color: #8bac3e;
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }
  .subTitle {
    font-size: 24px;
  }
}
